<body>
    <header class="layout">
      <div id="container" class="container top">
        <nav class="navbar">
          <div class="containerfluid">
            <img
              src="/public/css/images/logo.png"
              alt="logo"
              height="55"
              width="150"
              class="logo"
            />
          </div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/patient">Patients</a></li>
            <li><a href="/doctor">Doctor</a></li>
          </ul>
        </nav>
      </div>